.quick-facts{
    text-align:center!important;
    background-color: #1c1c1c;
    padding-top:5%;
    padding-bottom:2%;
    overflow: hidden;
}
.quick-facts h3{
    font-size: 200%;
}
.quick-facts p{
    margin-bottom:10%;
    font-style:white;
}