<div fxLayout="row">
  <div fxFlex.gt-sm="100%" >
      <mat-card>
          <mat-card-content>
            <mat-card-title>About</mat-card-title>
              <p>The data on this site is available in an effort to provide important information regarding the current pandemic.
            </p>
              <p>The data on this site is provided by many reliable sources, but may not always be accurate. 
              </p>
            <p>The data on this site is distributed without profit.
            </p>
            </mat-card-content>
            <mat-card-content>
            <hr>
            </mat-card-content>
           <mat-card-content>
            <mat-card-title>References</mat-card-title>
              <mat-list>
                <mat-list-item><a href="https://www.who.int/">
                  World Health Organization</a>
                </mat-list-item>
                <mat-list-item><a href="https://www.hpsc.ie/">
                  Health Protection Surveillance Centre</a>
                </mat-list-item>
                <mat-list-item><a href="https://www.hse.ie/">
                  Health Service Executive</a>
                </mat-list-item>
              </mat-list>

          </mat-card-content>        
      </mat-card>
  </div>
</div>
